* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
}

.header {
    position: relative;
    background: #000;
    max-width: 1440px;
    height: 90px;
}

.logo {
    position: absolute;
    top: 27px;
    left: 84px;
}

.nav_wrapper {
    position: absolute;
    top: 35px;
    right: 328px;
}

.header_menu {
    display: flex;
    gap: 40px;
}

.header_menu li {
    list-style: none;
}

.header_menu li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.template_button {
    position: absolute;
     font-family: 'Poppins', sans-serif;
     top: 24px;
     right: 141px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    width: 156px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/***********BLOCK_1************/

.container_block1 {
    position: relative;
    background-image: url("files/block1.png");
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    height: 716px;
}

.block1_content {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

.block1_category {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #c0c0c0;
}

.block1_title {
    font-size: 54px;
    font-weight: 400;
    line-height: 59px;
    margin-bottom: 18px;
}

.block1_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
}

.block1_icons {
    position: absolute;
    bottom: 25px;
    right: 40px;
    display: flex;
    gap: 16px;
}

/***********BLOCK_2************/

.block2 {
    position: absolute;
    height: 1573px;
    width: 1440px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #000000;
    border-radius: 0px;
}

.container_block_2 {
    position: relative;
    background-color: #000;
    text-align: center;
    max-width: 1440px;
    height: 1573px;
    padding-top: 120px;
}

.block_2_title {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    color: #fff;
    margin-bottom: 15px;
}

.block_2_description {
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    color: #C0C0C0;
}

/*** COMMON STYLES FOR ARTICLE BLOCKS***/

.block_2_artiticles {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 242px;
    left: 136px;
    gap: 16px;
}

.articles_readmore {
    position: relative;
    width: 143px;
    height: 42px;
    background-color: #fff;
    border-radius: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.small_black_icon {
    position: absolute;
    left: 6px;
    top: 5px;
    width: 32px;
    height: 32px;
    background-color: #000;
    border-radius: 13px;
}

.b2-article-hyperlink {
    position: absolute;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    left: 42px;
    top: 9px;
}

/*ARTICLES_1*/

.block_2_artickes_1 {
    background-image: url(files/block2.1.jpg);
    height: 600px;
    width: 576px;
    text-align: left;
    margin: o auto;
}

.b2_a1_cat {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 421px;
    margin-left: 30px;
    padding-bottom: 14px;
}

.b2_a1_descr {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
    margin-left: 30px;
    padding-bottom: 14px;
}

/*ARTICLES_2*/

.block_2_artickes_2 {
    background-image: url(files/block2.2.jpg);
    height: 600px;
    width: 576px;
    text-align: left;
}

.b2_a2_cat {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 421px;
    margin-left: 30px;
    padding-bottom: 14px;
}

.b2_a2_descr {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
    margin-left: 30px;
    padding-bottom: 14px;
}

.block_2_artickes_3 {
    background-image: url(files/block2.3.jpg);
    height: 600px;
    width: 576px;
    text-align: left;
}

.b2_a3_cat {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 421px;
    margin-left: 30px;
    padding-bottom: 14px;
}

.b2_a3_descr {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
    margin-left: 30px;
    padding-bottom: 14px;
}



.block_2_articles_4 {
    background-image: url(files/block2.4.png);
    height: 600px;
    width: 576px;
    text-align: left;
}

.b2_a4_cat {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 421px;
    margin-left: 30px;
    padding-bottom: 14px;
}

.b2_a4_descr {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
    margin-left: 30px;
    padding-bottom: 14px;
}
/***********BLOCK_2************/
/***********BLOCK_2************/
/***********BLOCK_2************/
/***********BLOCK_2************/
/***********BLOCK_2************/
/***********BLOCK_2************/