* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
}

.header {
    position: relative;
    background: #000;
    max-width: 1440px;
    height: 90px;
}

.logo {
    position: absolute;
    top: 27px;
    left: 84px;
}

.nav_wrapper {
    position: absolute;
    top: 35px;
    right: 328px;
}

.header_menu {
    display: flex;
    gap: 40px;
}

.header_menu li {
    list-style: none;
}

.header_menu li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.template_button {
    position: absolute;
     font-family: 'Poppins', sans-serif;
     top: 24px;
     right: 141px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    width: 156px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/***********BLOCK_1************/

.container_block1 {
    position: relative;
    background-image: url("files/block1.png");
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    height: 716px;
}

.block1_content {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

.block1_category {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #c0c0c0;
}

.block1_title {
    font-size: 54px;
    font-weight: 400;
    line-height: 59px;
    margin-bottom: 18px;
}

.block1_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #c0c0c0;
}

.block1_icons {

}


/***********BLOCK_2************/
/***********BLOCK_2************/
/***********BLOCK_2************/
/***********BLOCK_2************/
/***********BLOCK_2************/
/***********BLOCK_2************/